@import "tailwindcss";

:root {
    --heading-color: hsla(0, 0%, 100%, 1);
    --text-color: hsla(0, 0%, 100%, 0.6);
    --bg: #1a0b2e;
    --bg2: #230e3d;
    --gradient1: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
    --gradient1h: linear-gradient(90deg, #f7e93f, #fb09b4, #9100f8);
    --green: #00ff88;
    --line-color: #412567;
}

* {
    font-family: "inter", sans-serif;
}

body {
    color: var(--text-color);
    background-color: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
    font-weight: 700;
}

h1 {
    font-size: clamp(2.5rem, 5vw, 3.75rem);
}

h2 {
    font-size: clamp(2rem, 4vw, 3rem);
}

h3 {
    font-size: clamp(1.5rem, 2.66vw, 2rem);
}

h4 {
    font-size: clamp(1.25rem, 2vw, 1.5rem);
}

/*unique class/id*/

#hero > .container {
    background-image: url("/assets/hero-bg.png");
    max-width: 1600px;
}

/* common class/components */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.btn,
.btn2 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.1875;
    color: white;
    background-image: var(--gradient1);
    border-radius: 999px;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: background-image 0.3s ease-in-out;
}

.btn i {
    font-size: 1.2rem;
}

.btn:hover {
    background-image: var(--gradient1h);
}

.btn2 {
    background-image: none;
    color: var(--green);
    border: 1px solid var(--green);
}

.btn2:hover {
    color: white;
    background-color: var(--green);
}

.numBadge {
    font-size: clamp(2.543rem, 4vw, 3rem);
    font-weight: 900;
    color: var(--green);
}

.whyUsCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    background: rgba(53, 17, 101, 0.4);
}

/*using breakpoints matching tailwind*/

@media screen and (min-width: 1280px) {
    .container {
        padding: 0;
    }

    .whyUsCards {
        padding: 2.5rem;
        border-radius: 2.5rem;
    }
}
