@import "tailwindcss";

:root {
  --bg: #1a0b2e;
  --gradient1: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
  --gradient1h: linear-gradient(90deg, #f7e93f, #fb09b4, #9100f8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

header {
  background-color: var(--bg);
}

/* common class/components */
.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 12.5rem;
}

.btn {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.1875;
  color: white;
  background-image: var(--gradient1);
  border-radius: 999px;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  cursor: pointer;
  transition: background-image 0.3s ease-in-out;
}

.btn i {
  transition: transform 0.3s ease-in-out;
}

.btn:hover {
  background-image: var(--gradient1h);
}

.btn:hover i {
  transform: rotate(-45deg);
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0 1.25rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .container {
    padding: 0 3.75rem;
  }
}
